/* This is the actual Oneshot style textboxe CSS styling. */

body

.avatar-2e8lTP, clickable-31pE3P{
  /* margin-left: 95%; */
}

.scrollableContainer-15eg7h
{
    /* background: url("https://cdn.discordapp.com/attachments/712252493823737947/1040734192096514088/zzzzzzzzzzzzzz.png"); */
    /* background-size: 95%; */
    background-image: none;
    background-color: #2f213c;

    border: 10px blue inset;
    
    border-image: url('https://cdn.discordapp.com/attachments/934515619376795728/1090335752728101077/outline2.png') 10;
}

.theme-dark {
  /* --background-primary: var(--primary-dark-600); */
  /* #27222E; */
  --background-primary: #27222E;
  /* #231E2A; */
  /* --background-secondary: var(--primary-dark-630); */
  --background-secondary: #231E2A;
  
  /* --background-secondary-alt: var(--primary-dark-660); */
  --background-secondary-alt: #292232;
 
  /* --background-tertiary: var(--primary-dark-700); */
    --background-tertiary: #31273e;
  /* --background-accent: var(--primary-dark-500); */
  --background-accent: #1b181f;
  /* --background-floating: var(--primary-dark-800); */
  --background-floating: #382c48;

}

/*https://cdn.discordapp.com/attachments/934515619376795728/1090335212459786362/outline1.png*/
